apiVersion: apps/v1
kind: Deployment
metadata: 
  name: myapp
  namespace: chat-aap
spec:
  replicas: 1
  selector:
    matchLabels:    
      app: backend
  template:
    metadata: 
      labels:
        app: backend
    spec:
      containers:
      - name: chatapp-backend
        image: rishikesh991/chatapp-backend:latest
        # resources:
        #   limits:
        #     memory: "128Mi"
        #     cpu: "500m"
        ports:
        - containerPort: 5001
        env:
          - name: NODE_ENV
            value: production
          - name: MONGO_URI
            value: "mongodb://root:root@mongodb:27017/chatapp?authSource=admin"
        resources:
            limits:
             memory: "256Mi"
             cpu: "500m"

